@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&display=swap');
body {
    background: #6A66E7;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    color: #18232B;
}

input {
    border-radius: 20px;
    outline: none;
    border: 1px transparent;
    padding: 10px;
    margin: 10px 5px;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
}

button {
    border-radius: 20px;
    outline: none;
    border: 1px transparent;
    padding: 10px;
    color: white;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    background: #18232B;
}

.header-div {
    background-color: #18232B;
    margin: 20px;
    padding: 100px 0 0 0;
}
.header-div div {
    background: #FFFFFF;
    text-align: center;
    padding-bottom: 10px;
}

.data img {
    background: #18232B;
    border-radius: 50%;
    padding: 10px;
    margin-top: -60px;
}

.title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
}

.location {
    font-weight: 300;
}

.weather-description h3 {
    color: #837A9A;
    font-weight: 400;
}

.weather-description p {
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .weather-description {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;
        margin-top: 30px;
        text-align: center;
    }
    .header-div {
        margin: 20px 90px 20px 90px;
    }
    section {
        text-align: center;
    }
}